<ul class="sidebar-menu" id="nav-accordion">
    <li ng-class="{'sub-menu dcjq-parent-li':n.submenuList.length>0,'sub-menu':n.submenuList.length<=0}" ng-repeat="n in menu.submenu">
        <a href="javascript:;" >
            <i class="icon-book"></i>
            <span>{{n.name}}</span>
            <span class="dcjq-icon" ng-show="n.submenuList.length>0"></span>
        </a>
        <ul class="sub">
            <li ng-repeat="sub in n.submenuList " ng-class="{'active':menu.active==sub.name}">
                <a href="{{sub.url}}" ng-click="menu.click(sub)" >{{sub.name}}</a>
            </li>
        </ul>
    </li>
</ul>